@import "../Variables/Variables.scss";
@import "../Mixin/Mixin.scss";

.appRecommendation {
  @include fullWidthContainer;
  border-bottom: 1px solid $lightGrey;
  .apps {
    display: grid;
    grid-auto-flow: column;
    gap: 3%;
    grid-auto-columns: 25%;
    overflow: auto;
    overscroll-behavior-inline: contain;
  }
  img {
    width: 100%;
    border-radius: 20%;
  }
  h2 {
    @include header;
    margin: 0;
  }
  h4 {
    @include title;
    margin: 0;
  }
  h5 {
    @include subTitle;
    margin: 0;
  }
}
